tensorflow>=2.0.0
tensorflow-datasets
tensorflow_hub
transformers
datasets
scikit-learn
numpy
pandas
matplotlib
seaborn
jupyterlab
notebook
ipykernel
ipywidgets
# torch and torchvision installed separately in setup script with
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cpu
